---
layout: layouts/base.njk
eleventyNavigation:
  key: Jeux
  order: 4
---
<h1>Jeux</h1>



<p>Cette rubrique contient une liste de jeux, qui s’enrichira de jour en jour grâce à la contribution de différentes personnes actives sur le plan ludico-pédagogique : logopèdes, institutrices, professeurs, stagiaires… chaque personne participant à l’élaboration de ce fichier met un point d’honneur non seulement à utiliser des jeux dans sa pratique mais également à les détourner, les analyser, les décrypter, les compléter, et ouvrir les bras à tout ce qu’un jeu peut offrir comme potentiel d’amusement et d’apprentissage.</p>

<p>Les jeux présentés ci-dessous sont exclusivement des jeux du commerce. La raison est simple: cela permet d’inclure les parents qui le souhaitent dans la dynamique de la prise en charge.<br>
En ce qui me concerne personnellement, la rééducation logopédique me permet de travailler au maximum deux fois par semaine avec un patient, ce n’est parfois pas suffisant quand les difficultés touchent de nombreux domaines langagiers et scolaires. L’utilisation de jeux du commerce associée à un peu de guidance parentale permet dès lors de revoir à la maison ce qui a été fait en séance.<br>
Pour les parents, cela offre un bon moment avec l’enfant dans un contexte d’apprentissage. Alors que ce contexte est souvent synonyme de conflits (les mauvais points, les mots de l’enseignant, les conflits pendant les devoirs…) l’enfant sera heureux de montrer à ses parents qu’il y a des choses utiles pour l’école qu’il sait faire avec plaisir. Il sera heureux d’expliquer les règles, parfois de gagner… c’est une belle façon de faire la paix avec les apprentissages.</p>

<p>Les textes écrits ci-dessous sont soumis aux droits d’auteurs et ne peuvent être repris complètement ni en partie sans l’autorisation écrite des auteurs.</p>


{% set postslist = collections.jeux %}

<ul>
{% for post in postslist | reverse %}
  <li>
    <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ul>
