<footer class="footer">
  
  <div class="footer-social">
    
      <span class="social-icon social-icon-twitter">
        <a href="https://twitter.com/soph64k" title="twitter" target="_blank" rel="noopener">
          <img src="/static/img/social/twitter.svg" width="24" height="24" alt="twitter">
        </a>
      </span>
    
      <span class="social-icon social-icon-linkedin">
        <a href="https://www.linkedin.com/in/sophie-lenaerts-69b75b49/" title="linkedin" target="_blank" rel="noopener">
          <img src="/static/img/social/linkedin.svg" width="24" height="24" alt="linkedin">
        </a>
      </span>

      <span class="social-icon social-icon-facebook">
        <a href="https://www.facebook.com/Sophie-Lenaerts-logop%C3%A8de-102018028139027" title="facebook" target="_blank" rel="noopener">
          <img src="/static/img/social/facebook.svg" width="24" height="24" alt="facebook">
        </a>
      </span>
    
  </div>
  
</footer>