{% set navPages = collections.all | eleventyNavigation %}
<div id="menu-main-mobile" class="menu-main-mobile">
    <ul class="menu">
        
        
            
                {%- for entry in navPages %}
                      <li {% if entry.url == page.url %} class="active"{% endif %}>
                        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                      </li>
                    {%- endfor %}
            
        
    </ul>
</div>
<nav class="menu-main">
  

  <ul>
    {%- for entry in navPages %}
      <li {% if entry.url == page.url %} class="active"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>
<div id="toggle-menu-main-mobile" class="hamburger-trigger">
  <button class="hamburger">Menu</button>
</div>