---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<div class="intro">
	<h1>{{ title }}<span class="dot">.</span></h1>
</div>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
