---
layout: layouts/base.njk
section: contact
---

<div class="intro">
	<h1>{{ title }}<span class="dot">.</span></h1>
</div>

<div class="content">
	{{ layoutContent | safe }}

	{% include "components/form.njk" %}
</div>


