---
layout: layouts/base.njk
section: home
---

<div class="intro">
	<h1>Qui suis-je<span class="dot">.</span></h1>
	<img src="/static/img/cropped-4860084382_c8a130d413_o-1.jpg" alt="">
</div>

<div class="content">
	{{ layoutContent | safe }}
</div>