---
layout: layouts/base.njk
section: jeux
permalink: /jeux/index.html
---

<div class="intro">
	<h1>{{ title }}<span class="dot">.</span></h1>
</div>

<div class="content">
	{{ layoutContent | safe }}
</div>
{% set postslist = collections.jeu %}
<section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %} class="summary">
			<h2 class="summary-title">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h2>
		</article>
	{% endfor %}
</section>


