---
layout: layouts/base.njk
section: post
---

<article>
  <div class="intro">
    <h1>{{ title }}</h1>
  </div>
  <div class="summary">
    <div class="summary-date">
    <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time></a>
    </div>
  </div>
  
  <div class="content">
    {{ layoutContent | safe }}
  </div>

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
